<h1>User doesn't exist!</h1>

<h1>Log in</h1>
<div>
  <form method='post' action='/login'>
  <div>
  <label for='login'>username</label>
  <input type='text' id='login' name='name'>
  </div><div>
  <label for='login-pass'>password</label>
  <input type='password' id='login-pass' name='password'>
  </div><div>
  <input type='submit' value='login'>
  </div>
  </form>
</div>
<h1>Sign up</h1>
<div>
  <form method='post' action='/signup'>
  <div>
  <label for='signup'>username</label>
  <input type='text' id='signup' name='name'>
  </div>
  <div>
  <label for='signup-pass'>password</label>
  <input type='password' id='signup-pass' name='password'>
  </div>
  <div>
  <input type='submit' value='sign up'>
  </div>
  </form>
</div>