<h1>Sign up successful!</h1>
<form action='/' method='get'>
  <input type='submit' value='Homepage'>
</form>
<form action='/gamelobby' method='get'>
  <input type='submit' value='Gamelobby'>
  <input style='visibility:hidden;' type="text" name='name' value='<%= @name %>'>
</form>