<h1>Successfully made a move!</h1>
<div>
  <form action='/gamelobby' method='get'>
  <input type='submit' value='back to game lobby'>
  <input style='visibility:hidden;' type='text' name='name' value='<%= @name %>'>
  </form>
</div>